div{
    margin:10px;
    padding: 5px;
    background-color: inherit;
    padding-bottom: 30px;
}

section{
    
    font-size: 20px;
    font-family:'Monospace',monospace;
    padding: 5px;
    margin:0px;
    color:gray;
    
}

p{text-align: left;}

h3{
    color:purple;
}

li{
    padding: 2px;
    font-family: 'Monospace',monospace;
    font-size: 20px;
}

.last-section {
    margin-bottom: 80px;
}
