body{
    margin:0px;
    padding:0px;
    background-color: lavender;
    padding-bottom:30px;
    font-size: 20px;
    font-family:'Arial', sans-serif;
}

h3,p,section{
    margin:0px;
    background-color: lavender;
    padding:5px;
    font-size:20px;
    font-family:'Arial',sans-serif;
}

.last-section{
    padding-bottom:30px;
}